
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/config/secrets/*/*.decrypt.private.php
/config/secrets/*/*private.php
/public/bundles/
/var/
/vendor/
/RELEASE_CHECKLIST.md
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
